body {
background-color:#f6f5f2;
}
.weddinginvite {
text-align:center;
}
.eucalyptus {
position:absolute;
left:100px;
top:60px;

}
.eucalyptus2 {
position:absolute;
right:125px;
scale:120%;
top:50px;
}
.eucalyptus3 {
position:absolute;
right:180px;
top:1370px;
rotate:90deg;
}
.eucalyptus4 {
position:absolute;
}
h3 {
font-size:25px;
font-family:'Visby', sans-serif;
color:#171612;
text-align:center;
}
span {
border-bottom:4px dotted darkred;
}
.photo1 {
width:502px;
margin-left:auto;
margin-right:auto;
}
main a {
text-decoration:none;
color:black;
font-size:20px;
}
main a:focus {
color:gray;
}
h2 {
font-family:'Visby', sans-serif;
text-align:center;
font-size:50px;
}
.photo1 img {
border-radius:6px;
}
.calendar {
text-align:center;
}
.small {
font-size:20px;
}
.menu1 {
position:fixed;
left:-230px;
border:5px double black;
border-radius:10px;
padding:30px;
font-size:40px;
background-color:white;
text-decoration:none;
font-family:'Visby', sans-serif;
color:black;
}
.menu1:hover {
left:-5px;
transition:1s;
}
.menu2 {
margin-top:150px;
position:fixed;
left:-192px;
border:5px double black;
border-radius:10px;
padding:30px;
font-size:40px;
background-color:white;
text-decoration:none;
font-family:'Visby', sans-serif;
color:black;
}
.menu2:hover {
left:-5px;
transition:0.8s;
}
