body {
background-color:#f6f5f2;
}
.weddinginvite {
text-align:center;
}
.eucalyptus {
position:absolute;
left:80px
}
.eucalyptus2 {
position:absolute;
right:125px;
scale:120%;
top:50px;
}
.eucalyptus3 {
position:absolute;
left:0px;
}
.eucalyptus4 {
position:absolute;
}
h3 {
font-size:40px;
font-family:arial;
color:#171612;
text-align:center;
}
span {
border-bottom:4px dotted darkred;
}
.photo1 {
width:502px;
margin-left:auto;
margin-right:auto;
}
.photo2 {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main a {
text-decoration:none;
color:black;
font-size:45px;

}
h2 {

}
.left {
text-align:left;
}
.photo1 img {
border-radius:6px;
}
