body {
background-color:#f6f5f2;
}
.weddinginvite {
text-align:center;
}
.eucalyptus {
position:absolute;
left:100px;
top:60px;

}
.eucalyptus2 {
position:absolute;
right:125px;
scale:120%;
top:50px;
}
.eucalyptus3 {
position:absolute;
right:200px;
top:1100px;
rotate:90deg;
}
.eucalyptus4 {
margin-top:40px;
text-align:center;
}
h3 {
font-size:25px;
font-family:'Visby', sans-serif;
color:#171612;
text-align:center;
}
span {
border-bottom:4px dotted darkred;
}
.photo1 {
width:600px;
margin-left:auto;
margin-right:auto;
}
main a {
text-decoration:none;
color:black;
font-size:20px;
}
main a:focus {
color:gray;
}
h2 {
font-family:'Visby', sans-serif;
text-align:center;
font-size:50px;
}
.photo1 img {
border-radius:6px;
}
.calendar {
text-align:center;
}
.small {
font-size:20px;
}
.menu1 {
position:fixed;
z-index:67;
left:-230px;
border:5px double black;
border-radius:10px;
padding:30px;
font-size:40px;
background-color:white;
text-decoration:none;
font-family:'Visby', sans-serif;
color:black;
}
.menu1:hover {
left:-5px;
transition:1s;
}
.menu2 {
margin-top:140px;
position:fixed;
z-index:67;
left:-185px;
border:5px double black;
border-radius:10px;
padding:30px;
font-size:40px;
background-color:white;
text-decoration:none;
font-family:'Visby', sans-serif;
color:black;
}
.menu2:hover {
left:-5px;
transition:0.8s;
}
.menu3 {
margin-top:280px;
position:fixed;
z-index:67;
left:-225px;
border:5px double black;
border-radius:10px;
padding:30px;
font-size:40px;
background-color:white;
text-decoration:none;
font-family:'Visby', sans-serif;
color:black;
}
.menu3:hover {
left:-5px;
transition:0.8s;
}
.eucalyptustime {
margin-left:110px;
}
h4 {
font-family:'Visby', sans-serif;
font-size:25px;
position:absolute;
top:1719px;
left:180px;
}
.fourteen {
top:1805px;
}
.fifteen {
top:1890px;
}
.twentytwo {
top:1972px;
}
.heart1 {
margin-left:570px;
}
.small2 {
max-width:650px;
font-size:25px;
margin-left:auto;
margin-right:auto;
}
.eucalyptus5 {
position:absolute;
left:620px;
top:2000px;
width:150px;
}
.final {
position:relative;
z-index:2;
margin-top:80px;
font-size:30px;
max-width:500px;
margin-left:auto;
margin-right:auto;
}
.heart2 {
position:absolute;
left:135px;
top:2210px;
}
